$media-width: 1200px;

.header {
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    height: 107px;
    background: url('#{$img-url}header.jpg') no-repeat 50% 0;
    color: #fff;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 45px;

    &__wrapper {
        padding: 20px 48px 0 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        @media screen and (max-width: $media-width) {
            & {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__logo {
        display: block;
        width: 164px;
        height: 72px;
        background: url('#{$img-url}header-logo.png') no-repeat;
        text-indent: -3000px;
    }
    
    &-large {
        background: url('#{$img-url}header-large.jpg') no-repeat 50% 0;
        height: 724px;
        min-width: $min-width;

        .header {
            background: none;
            border: 0;
            margin-bottom: 179px;
        }
    }

    &-search {
        width: 955px;
        height: 265px;
        margin: 0 auto;
        padding: 40px 0 0;
        line-height: normal;
        color: #fff;

        h1 {
            margin-bottom: 40px;
        }

        &__title {
            text-align: center;
            font-size: 16px;
            letter-spacing: 1.5px;
            font-weight: bold;
            text-transform: uppercase;
            background: url('#{$img-url}bg1.png') no-repeat 50% 50%;
            margin-bottom: 25px;
        }

        &__form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .from-row {
                width: 210px;
            }

        }

        &__button {
            width: 47px;
            height: 40px;
            background: #b1936d;
            border: 0;
            cursor: pointer;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 12px;
                width: 24px;
                height: 22px;
                background: url('#{$img-url}sprite.png') no-repeat -28px 0;
            }
        }
    }
}

.header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    &__item {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        padding-top: 2px;
        letter-spacing: 1px;
        margin: 0 0 0 30px;

        @media screen and (max-width: $media-width) {
            & {
                margin-left: 15px;
            }
        }

        &_active,
        &:hover {
            border-bottom: 2px solid $default-color-link;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.header-phone {
    margin: 0;
    padding: 0 0 0 18px;
    list-style: none;
    font-weight: bold;
    display: flex;
    position: relative;

    @media screen and (max-width: $media-width) {
        & {
            flex-direction: column;
        }
    }

    &__item {
        margin: 0 0 0 30px;

        @media screen and (max-width: $media-width) {
            & {
                margin-left: 0;
            }
        }
    }

    li:first-child {
        margin-left: 0;
    }

    &::before {
        content: '';
        width: 9px;
        height: 16px;
        background: url('#{$img-url}sprite.png') no-repeat;
        position: absolute;
        top: 5px;
        left: 0;
    }

}