/**
 *  Config
 */

$min-width: 1000px;
$max-width: 1600px;

$font-size: 16px;
$line-height: 25px;
$font-family: 'HelveticaNeueRegular', Helvetica, Arial, sans-serif;

$default-color: #000;
$default-bg-color: #fff;

$default-color-link: #a58d6f;
$default-color-link-hover: #a58d6f;

$border-radius: 40px;

$button-border-color: #b3a182;

$default-color-grey: #f1f1f1;
$color-grey: #6c6c6c;

$default-animation-speed: 0.35s;

$img-url: '../images/';
$pic-url: '../pictures/';
$font-url: '../fonts/';
