.aviapark-controls {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 50px;
    & > div {
        margin: 0 10px;
        font-weight: 600;
        color: $default-color-link;
        padding: 2px 10px;
        border-radius: $border-radius;
        transition: all ease-out .1s;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        &.active {
            background: $default-color-link;
            color: white;
        }
    }
}

.text-gray {
    color: $color-grey;
}

.vdp-datepicker {
    color: #6b6b6b;
    & input {
        @extend .input-text;
    }
}

.vdp-datepicker__calendar .cell.selected {
    background: #b1936d !important;
    color: white !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border: 1px solid #b1936d !important;
}

.request-sent {
    color: #4CAF50;
    margin: 0;
    text-align: center;
}
